<div class="page-header">

<h1>Catalogue Items</h1>

</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">Dublin Rental Bikes Catalogue 2016 - 2017</div>
  <div class="panel-body">
    <p>  This is the latest catalogue of rental items available from Dublin Rental Bikes</br></br>
    The rates displayed are the daily rental rate and all prices are VAT inclusive</p>

<table class="table">
  <tr>
      <th>Item</th>
      <th>Type</th>
      <th>Category</th>
      <th>Description</th>
      <th>Rental rate</th>
      <th colspan="3"></th>
  </tr>
  
  </div>
 
    <% @rental_items.each do |rental_item| %>
      <tr>
        <td><%= rental_item.Item %></td>
        <td><%= rental_item.Type %></td>
        <td><%= rental_item.Category %></td>
        <td><%= rental_item.Description %></td>
        <td><%= rental_item.Rental_Rate %></td>
        <td><%= link_to 'Show', rental_item %></td>
        <td><%= link_to 'Edit', edit_rental_item_path(rental_item) %></td>
        <td><%= link_to 'Destroy', rental_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  <% end %>
</table>

<div class="panel-footer">
  <%= link_to 'New Rental item', new_rental_item_path, class: 'btn btn-success' %>
  </div>

  </div>




  

