<div class="page-header">
  <h1>Rental Catalogue</h1>
</div>

<div class="panel panel-primary">
  <!-- Default panel contents -->
  <div class="panel-heading">This is a Panel Heading</div>
  <div class="panel-body">

<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @rental_item.Item %>
</p>

<p>
  <strong>Type:</strong>
  <%= @rental_item.Type %>
</p>

<p>
  <strong>Category:</strong>
  <%= @rental_item.Category %>
</p>

<p>
  <strong>Description:</strong>
  <%= @rental_item.Description %>
</p>

<p>
  <strong>Rental rate:</strong>
  <%= @rental_item.Rental_Rate %>
</p>

<div class="panel-footer">

<%= link_to 'Edit', edit_rental_item_path(@rental_item), class: 'btn btn-info btn-xs' %> |
<%= link_to 'Back', rental_items_path, class: 'btn btn-primary btn-xs' %>
</div>
</div>



